<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
  </head>
  <body>
    <h1>Users</h1>

    <a class="addBtn" href="/showForm">Add user</a>
    <table>
      <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Birth Year</td>
        <td>Age</td>
        <td>Email</td>
        <td>Country</td>
      </tr>
      <% users.forEach(user => { %>
      <tr>
        <td><%= user.userId %></td>
        <td><%= user.firstName %></td>
        <td><%= user.birthYear %></td>
        <td><%= user.age %></td>
        <td><%= user.email %></td>
        <td><%= user.countryName %></td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
