<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
  </head>
  <body>
    <h1>Home Page</h1>
    <a class="addBtn" href="/showForm">Add user</a>

    <table>
      <tr>
        <td>Id</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Birth Year</td>
        <td>Age</td>
        <td>Phone Number</td>
        <td>Email</td>
        <td>Country</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
      <% users.forEach(user => { %>
      <tr>
        <td><%= user.userId %></td>
        <td><%= user.firstName %></td>
        <td><%= user.lastName %></td>
        <td><%= user.birthYear %></td>
        <td><%= user.age %></td>
        <td><%= user.phoneNum %></td>
        <td><%= user.email %></td>
        <td><%= user.countryName %></td>
        <td>
          <a class="editBtn" href="/editUser/<%= user.userId %>">Edit</a>
        </td>
        <td>
<!--          <a class="deleteBtn" href="/deleteUser/<%= user.userId %>">Delete</a>-->
          <button class="deleteBtn" onclick="confirmDelete(<%= user.userId %>)">Delete</button>
        </td>
      </tr>
      <% }) %>
    </table>

    <div id="deleteModal" class="modal">
      <div class="modal-content">
        <h2>Delete Confirmation</h2>
        <p>Are you sure you want to delete this user?</p>
        <div>
          <button class="cancelBtn" onclick="closeModal()">Cancel</button>
          <a id="confirm" class="deleteBtn" href="">Delete</a>
        </div>
      </div>
    </div>

    <script>
      function confirmDelete(userId) {
        const modal = document.getElementById('deleteModal');
        const deleteLink = document.getElementById('confirm');
        deleteLink.href = `/deleteUser/${userId}`;
        modal.style.display = 'block';
      }

      function closeModal() {
        const modal = document.getElementById('deleteModal');
        modal.style.display = 'none';
      }

      window.onclick = function(event) {
        const modal = document.getElementById('deleteModal');
        if (event.target == modal) {
          closeModal();
        }
      };
    </script>

  </body>
</html>
