<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Add user form</title>
    <link rel="stylesheet" href="/stylesheets/form.css">
</head>
<body>
<h1>Add user</h1>
<form method="post" action="/addUser">
    <label>First name:</label>
    <span id="errFirstName"> <%= errors.firstName %> </span>
<!--    <input name="firstName" type="text">-->
    <input type="text" name="firstName" value="<%= users.firstName || '' %>">

    <label>Last name:</label>
    <span id="errLastName"> <%= errors.lastName %> </span>
<!--    <input name="lastName" type="text">-->
    <input type="text" name="lastName" value="<%= users.lastName || '' %>">


    <label>Birth Year:</label>
    <span id="errBirthYear"> <%= errors.birthYear %> </span>
<!--    <input name="birthYear" type="number" min="1900" max="2024">-->
    <input type="number" name="birthYear" min="1900" max="2024" value="<%= users.birthYear || '' %>">

    <label>Phone Number:</label>
    <span id="errPhone"> <%= errors.phoneNum %> </span>
<!--    <input name="phoneNum" type="text">-->
    <input type="text" name="phoneNum" value="<%= users.phoneNum || '' %>">

    <label>Email:</label>
    <span id="errEmail"> <%= errors.email %> </span>
<!--    <input name="email" type="text">-->
    <input type="email" name="email" value="<%= users.email || '' %>">

    <label>Country of birth</label>
    <select name="countryId" required>
        <option value="0">Select country</option>
        <option value="1">Poland</option>
        <option value="2">England</option>
        <option value="3">Germany</option>
        <option value="4">France</option>
        <option value="5">Spain</option>
        <option value="6">Italy</option>
        <option value="7">Japan</option>
    </select>
    <span id="errCountry"> <%= errors.countryId %> </span>

    <input type="submit" type="button">
    <span id="errGeneral"> <%= errors.general %> </span>
</form>
<a class="addBtn" href="/">Go back</a>

</body>
</html>